fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
pandas
kiteconnect
ollama
python-dotenv
aiohttp
websockets
httpx
ntscraper
